body{
    padding: 0px;
}




.jumbotron{
    text-align:center;
    background:url('img/image1.png');
    background-size:cover;
    background-position:center;
    margin-bottom: 0px;
    height: 550px;
}


